<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Configurações</div>
                <div class="panel-body">
                    <form [formGroup]="settingsFormGroup">
                        <div class="form-group">
                            <label for="name">Nome</label>
                            <input type="email" class="form-control" id="name" placeholder="Nome" formControlName="name">
                        </div>
                        <div class="form-group">
                            <label>Descrição <small>({{ settingsFormGroup.controls['description'].value.length }}/255)</small></label>
                            <textarea rows="3" maxlength="255" placeholder="Descrição" class="form-control" formControlName="description"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="minimumValue">Valor mínimo</label>
                            <input type="email" class="form-control" id="minimumValue" mask [maskPatterns]="moneyMask" placeholder="Valor mínimo" formControlName="minimumValue">
                        </div>
                        <button type="submit" class="btn btn-success" [disabled]="!settingsFormGroup.valid" (click)="saveSettings(settingsFormGroup.value)">Salvar</button>
                    </form>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Horário de Funcionamento <span class="interval"><input type="checkbox" [(ngModel)]="intervalOnTheDay"> Intervalo no dia</span></div>
                <div class="panel-body">
                    <form [formGroup]="workedDaysFormGroup" class="table">
                        <thead>
                            <tr>
                                <td></td>
                                <td class="text-center">Segunda</td>
                                <td class="text-center">Terça</td>
                                <td class="text-center">Quarta</td>
                                <td class="text-center">Quinta</td>
                                <td class="text-center">Sexta</td>
                                <td class="text-center">Sábado</td>
                                <td class="text-center">Domingo</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td rowspan="2">1º Período</td>
                                <td>
                                    <input type="text" mask [maskPatterns]="hourMask" [maxlength]="5" [formControl]="workedDaysFormGroup.controls['monday'].controls.start" class="form-control">
                                </td>
                                <td>
                                    <input type="text" mask [maskPatterns]="hourMask" [maxlength]="5" [formControl]="workedDaysFormGroup.controls['tuesday'].controls.start" class="form-control">
                                </td>
                                <td>
                                    <input type="text" mask [maskPatterns]="hourMask" [maxlength]="5" [formControl]="workedDaysFormGroup.controls['wednesday'].controls.start" class="form-control">
                                </td>
                                <td>
                                    <input type="text" mask [maskPatterns]="hourMask" [maxlength]="5" [formControl]="workedDaysFormGroup.controls['thursday'].controls.start" class="form-control">
                                </td>
                                <td>
                                    <input type="text" mask [maskPatterns]="hourMask" [maxlength]="5" [formControl]="workedDaysFormGroup.controls['friday'].controls.start" class="form-control">
                                </td>
                                <td>
                                    <input type="text" mask [maskPatterns]="hourMask" [maxlength]="5" [formControl]="workedDaysFormGroup.controls['saturday'].controls.start" class="form-control">
                                </td>
                                <td>
                                    <input type="text" mask [maskPatterns]="hourMask" [maxlength]="5" [formControl]="workedDaysFormGroup.controls['sunday'].controls.start" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" mask [maskPatterns]="hourMask" [maxlength]="5" [formControl]="workedDaysFormGroup.controls['monday'].controls.start" class="form-control">
                                </td>
                                <td>
                                    <input type="text" mask [maskPatterns]="hourMask" [maxlength]="5" [formControl]="workedDaysFormGroup.controls['tuesday'].controls.start" class="form-control">
                                </td>
                                <td>
                                    <input type="text" mask [maskPatterns]="hourMask" [maxlength]="5" [formControl]="workedDaysFormGroup.controls['wednesday'].controls.start" class="form-control">
                                </td>
                                <td>
                                    <input type="text" mask [maskPatterns]="hourMask" [maxlength]="5" [formControl]="workedDaysFormGroup.controls['thursday'].controls.start" class="form-control">
                                </td>
                                <td>
                                    <input type="text" mask [maskPatterns]="hourMask" [maxlength]="5" [formControl]="workedDaysFormGroup.controls['friday'].controls.start" class="form-control">
                                </td>
                                <td>
                                    <input type="text" mask [maskPatterns]="hourMask" [maxlength]="5" [formControl]="workedDaysFormGroup.controls['saturday'].controls.start" class="form-control">
                                </td>
                                <td>
                                    <input type="text" mask [maskPatterns]="hourMask" [maxlength]="5" [formControl]="workedDaysFormGroup.controls['sunday'].controls.start" class="form-control">
                                </td>
                            </tr>
                            <tr *ngIf="intervalOnTheDay">
                                <td></td>
                                <td>
                                    <p class="interval-text">Intervalo</p>
                                </td>
                                <td>
                                    <p class="interval-text">Intervalo</p>
                                </td>
                                <td>
                                    <p class="interval-text">Intervalo</p>
                                </td>
                                <td>
                                    <p class="interval-text">Intervalo</p>
                                </td>
                                <td>
                                    <p class="interval-text">Intervalo</p>
                                </td>
                                <td>
                                    <p class="interval-text">Intervalo</p>
                                </td>
                                <td>
                                    <p class="interval-text">Intervalo</p>
                                </td>
                            </tr>
                            <tr *ngIf="intervalOnTheDay">
                                <td rowspan="2">2º Período</td>
                                <td>
                                    <input type="text" mask [maskPatterns]="hourMask" [maxlength]="5" [formControl]="workedDaysFormGroup.controls['monday'].controls.start" class="form-control">
                                </td>
                                <td>
                                    <input type="text" mask [maskPatterns]="hourMask" [maxlength]="5" [formControl]="workedDaysFormGroup.controls['monday'].controls.start" class="form-control">
                                </td>
                                <td>
                                    <input type="text" mask [maskPatterns]="hourMask" [maxlength]="5" [formControl]="workedDaysFormGroup.controls['monday'].controls.start" class="form-control">
                                </td>
                                <td>
                                    <input type="text" mask [maskPatterns]="hourMask" [maxlength]="5" [formControl]="workedDaysFormGroup.controls['monday'].controls.start" class="form-control">
                                </td>
                                <td>
                                    <input type="text" mask [maskPatterns]="hourMask" [maxlength]="5" [formControl]="workedDaysFormGroup.controls['monday'].controls.start" class="form-control">
                                </td>
                                <td>
                                    <input type="text" mask [maskPatterns]="hourMask" [maxlength]="5" [formControl]="workedDaysFormGroup.controls['monday'].controls.start" class="form-control">
                                </td>
                                <td>
                                    <input type="text" mask [maskPatterns]="hourMask" [maxlength]="5" [formControl]="workedDaysFormGroup.controls['monday'].controls.start" class="form-control">
                                </td>
                            </tr>
                            <tr *ngIf="intervalOnTheDay">
                                <td>
                                    <input type="text" mask [maskPatterns]="hourMask" [maxlength]="5" [formControl]="workedDaysFormGroup.controls['monday'].controls.start" class="form-control">
                                </td>
                                <td>
                                    <input type="text" mask [maskPatterns]="hourMask" [maxlength]="5" [formControl]="workedDaysFormGroup.controls['monday'].controls.start" class="form-control">
                                </td>
                                <td>
                                    <input type="text" mask [maskPatterns]="hourMask" [maxlength]="5" [formControl]="workedDaysFormGroup.controls['monday'].controls.start" class="form-control">
                                </td>
                                <td>
                                    <input type="text" mask [maskPatterns]="hourMask" [maxlength]="5" [formControl]="workedDaysFormGroup.controls['monday'].controls.start" class="form-control">
                                </td>
                                <td>
                                    <input type="text" mask [maskPatterns]="hourMask" [maxlength]="5" [formControl]="workedDaysFormGroup.controls['monday'].controls.start" class="form-control">
                                </td>
                                <td>
                                    <input type="text" mask [maskPatterns]="hourMask" [maxlength]="5" [formControl]="workedDaysFormGroup.controls['monday'].controls.start" class="form-control">
                                </td>
                                <td>
                                    <input type="text" mask [maskPatterns]="hourMask" [maxlength]="5" [formControl]="workedDaysFormGroup.controls['monday'].controls.start" class="form-control">
                                </td>
                            </tr>
                        </tbody>
                        <button class="btn btn-success">Salvar</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
