.panel-title {
    padding-bottom: 15px;
    background: #9b3b42;
    color: #fff;
    padding: 16px 15px;
    border-radius: 3px 3px 0 0;
}
.panel-title h2 {
    margin: 5px 0 0;
    font-size: 24px;
}
.panel-title .btn {
    color: #566787;
    float: right;
    font-size: 13px;
    background: #fff;
    border: none;
    min-width: 50px;
    border-radius: 2px;
    border: none;
    outline: none !important;
    margin-left: 10px;
}
.panel-title .btn:hover, .table-title .btn:focus {
    color: #566787;
    background: #f2f2f2;
}
.panel-title .btn i {
    float: left;
    font-size: 21px;
    margin-right: 5px;
}
.panel-title .btn span {
    float: left;
    margin-top: 2px;
}
h2.section-separator{
    font-family: 'OpenSans-Bold';
    font-size: 19px;
    text-transform: uppercase;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 10px;
}
.panel .btn-success{
    display: block;
    margin-left: auto;
}

.panel .table > tbody > tr > td{
    border: 0;
}

.panel .table > tbody > tr > td[rowspan="2"]{
    text-align: center;
    padding-top: 30px;
}
.panel .interval{
    position: relative;
    display: block;
    float: right;
}
.panel .interval input{
    position: relative;
}
.interval-text{
    height: 25px;
    margin: 0;
    background: #b5b5b5;
    border-radius: 3px;
    line-height: 25px;
    text-align: center;
}
.be-loading .be-spinner {
    position: absolute !important;
    margin-top: 0 !important;
}
.multiselect-dropdown[_ngcontent-c5] .dropdown-btn[_ngcontent-c5] .selected-item[_ngcontent-c5] {
    border: 1px solid #9b3b42 !important;
    background: #9b3b42 !important;
}
#file{
    display: none;
}
.image{
    width: 120px;
    height: 120px;
    display: block;
    margin: 0px auto;
    background: url(../../assets/images/no-image.png);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: 4px solid #9b3b42;
    cursor: pointer;
}
