<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-5">
                            <h2>Meus Pedidos</h2>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Endereço</th>
                        <th>Status</th>
                        <th>Produtos</th>
                        <th>Valor</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let order of orders; let i = index">
                        <td>{{ order.id }}</td>
                        <td>{{ order?.user?.name }}<br><small>{{ order.user.email }}</small></td>
                        <td>
                            {{ order?.address?.state + ', ' + order?.address?.city}}<br>
                            {{ order?.address?.district + ' - ' + order.address.street + ' Nº ' + order.address.number }}<br>
                            {{ order?.address?.complement }}
                        </td>
                        <td>{{ order?.status }}</td>
                        <td>
                            <p *ngFor="let product of order.orderItems">{{ product?.product?.name }} <small>{{ ' x' + product.quantity }}</small></p>
                        </td>
                        <td>{{ order?.totalPrice | money }}</td>
                    </tr>
                    <tr *ngIf="orders.length == 0">
                        <td colspan="6" align="center">Nenhum pedido encontrado!</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
