.navbar .navbar-brand{
    padding: 8px 20px !important;
    padding-left: 15px !important;
}

.navbar-nav {
    margin: 0 -15px !important;
}

.navbar .profile-img{
    margin-top: -5px;
    margin-right: 5px;
    float: left;
    background: url(https://s.gravatar.com/avatar/47d36da2f1892dc7e50a4332043c47bf?s=150&d=mm) 50% 50% no-repeat;
    background-size: auto 100%;
    width: 30px;
    height: 30px;
}
