<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="javasript:void(0);"><img src="assets/images/logo.png" alt="Logo" width="90"></a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
            <!-- SYSTEM ADMINS NAVIGATION -->
            <ul class="nav navbar-nav navbar-left" *ngIf="userLogged && userLogged.permissions && userLogged.permissions[0] == 'ADMIN'">
                <li [routerLink]="['/dashboard']" routerLinkActive="active"><a href="javascript:void(0);">Dashboard</a></li>
                <li [routerLink]="['/companies']" routerLinkActive="active"><a href="javascript:void(0);">Estabelecimentos</a></li>
                <li [routerLink]="['/users']" routerLinkActive="active"><a href="javascript:void(0);">Usuários</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right" *ngIf="userLogged && userLogged.permissions && userLogged.permissions[0] == 'ADMIN'">
                <li [routerLink]="['/filters']" routerLinkActive="active"><a href="javascript:void(0);">Filtros</a></li>
                <li [routerLink]="['/districts']" routerLinkActive="active"><a href="javascript:void(0);">Bairros</a></li>

                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                        <div class="img-rounded profile-img" [ngStyle]="{'background-image':'url(' + userLogged?.gravatar + ')', 'background-position': 'center center'}"></div>
                        {{ userLogged ? userLogged.name + ' ' + userLogged.lastName : 'Carregando...' }} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li [routerLink]="['/edit-profile']" routerLinkActive="active"><a href="javascript:void(0);">Meu Perfil</a></li>
                        <li><a href="javascript:void(0);">Alterar Senha</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="javascript:void(0);" (click)="logout()">Sair</a></li>
                    </ul>
                </li>
            </ul>

            <!-- COMPANY NAVIGATION -->
            <ul class="nav navbar-nav navbar-right" *ngIf="userLogged && userLogged.permissions && userLogged.permissions[0] == 'COMPANY'">
                <li [routerLink]="['/dashboard']" routerLinkActive="active"><a href="javascript:void(0);">Dashboard</a></li>
                <li [routerLink]="['/my-orders']" routerLinkActive="active"><a href="javascript:void(0);">Meus Pedidos</a></li>
                <li [routerLink]="['/categories']" routerLinkActive="active"><a href="javascript:void(0);">Categorias</a></li>
                <li [routerLink]="['/products']" routerLinkActive="active"><a href="javascript:void(0);">Produtos</a></li>
                <li [routerLink]="['/settings']" routerLinkActive="active"><a href="javascript:void(0);">Configurações</a></li>

                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                        <div class="img-rounded profile-img" [ngStyle]="{'background-image':'url(' + userLogged?.gravatar + ')', 'background-position': 'center center'}"></div>
                        {{ userLogged ? userLogged.name + ' ' + userLogged.lastName : 'Carregando...' }} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0);">Meu Perfil</a></li>
                        <li><a href="javascript:void(0);">Alterar Senha</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="javascript:void(0);" (click)="logout()">Sair</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
