<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="javasript:void(0);"><img src="assets/images/logo.png" alt="Logo" width="90"></a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li [routerLink]="['/dashboard']" routerLinkActive="active"><a href="javascript:void(0);">Dashboard</a></li>
                <li><a href="javascript:void(0);">Meus Pedidos</a></li>
                <li [routerLink]="['/products']" routerLinkActive="active"><a href="javascript:void(0);">Produtos</a></li>
                <li [routerLink]="['/settings']" routerLinkActive="active"><a href="javascript:void(0);">Configurações</a></li>

                <!-- SYSTEM ADMIN PERMISSION -->
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true" style="background-color: #9b3b42;color: #FFF;font-size: 16px;">
                        <i class="glyphicon glyphicon-flash"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li [routerLink]="['/filters']" routerLinkActive="active"><a href="javascript:void(0);">Filtros</a></li>
                        <li [routerLink]="['/companies']" routerLinkActive="active"><a href="javascript:void(0);">Estabelecimentos</a></li>
                        <li [routerLink]="['/users']" routerLinkActive="active"><a href="javascript:void(0);">Usuários</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                        <div class="img-rounded profile-img"></div>
                        Rafael Silvestre <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0);">Meu Perfil</a></li>
                        <li><a href="javascript:void(0);">Alterar Senha</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="javascript:void(0);" (click)="logout()">Sair</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
